[user]
	email = andrej.lamov@gmail.com
	name = Andrej Lamov
[alias]
	set-me = !git config --local user.name 'Andrej Lamov' && git config --local  user.email 'andrej.lamov@gmail.com'
	set-az-me = !git config --local user.name 'Lamov, Andrej' && git config --local  user.email 'andrej.lamov@astrazeneca.com'
