[user]
	email = andrej.lamov@gmail.com
	name = Andrej Lamov
[alias]
	set-name = config --local user.name 'Andrej Lamov' user.email 'andrej.lamov@gmail.com'
	set-az-name = config --local user.name 'Lamov, Andrej' user.email 'andrej.lamov@astrazeneca.com'
